<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
	<contextName>camelRealWorld</contextName>
	<jmxConfigurator/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd/MM/yyyy-HH:mm:ss} %-5level %logger{36}:%line %X{requestURL} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
		<file>${jboss.server.log.dir}/camelRealWorld.log</file>
		<encoder>
			<pattern>%d{dd/MM/yyyy-HH:mm:ss} %-5level %logger{36}:%line %X{requestURL} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${jboss.server.log.dir}/camelRealWorld.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">		 
		<appender-ref ref="STDOUT"/>
		<includeCallerData>true</includeCallerData>
	</appender>
	<appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">		 
		<appender-ref ref="FILE"/>
		<includeCallerData>true</includeCallerData>
	</appender>

	<logger name="com.googlecode.flyway" level="DEBUG" />
	<logger name="br.com.tecsinapse" level="DEBUG" />

	<!-- loga inicio das rotas -->
	<logger name="org.apache.camel.component.file.remote.FtpConsumer" level="DEBUG" />
	<logger name="org.apache.camel.component.quartz2.QuartzEndpoint" level="DEBUG" />
	<root level="INFO">
		<appender-ref ref="ASYNC_STDOUT" />
		<appender-ref ref="ASYNC_FILE" />
	</root>
</configuration>
